* {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 10px;
}

.mul {
    display: flex;
    gap: 10px;
}

.sul {
    display: flex;
    gap: 10px;
}

.main::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    bottom: 5px;
    background: #000;
    position: absolute;
}

.name {
    background-color: #3bb77e;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    width: 250px;
    text-align: center;
}

.collapse navbar-collapse ul li a {
    font-weight: 700;
}

.homepage {
    background: url(./images/1-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin: 10px;
}

.homepage h1 {
    font-size: 70px;
    width: 50%;
    padding-left: 125px;
    padding-top: 70px;
}

.homepage p {
    font-size: 20px;
    padding-left: 125px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 30px;
}

.homepage input[type=search]:focus {
    box-shadow: none;
    border: none;
}

.catagory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    text-align: center;
}