.menu {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 40px;
    padding: 0px 40px;
    min-height: 50px;
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.171);
}

.menu__nav {
    display: flex;
    gap: 10px;

    a {
        text-decoration: none;
        color: black;
    }
}

.menu__nav a:hover {
    font-weight: 500;

}

.active {
    font-weight: 600;
}

