/* .main {
    display: grid;
    place-content: center;
}

.colorchange {
    background-color: red;
    display: grid;
    place-content: center;
    height: 300px;
    width: 300px;
} */

.mainclass {
    border: 2px solid black;
    padding: 30px;
    border-radius: 20px;
    width: 30%;
}

.formcss {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px;
}

.tablecss {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-items: center;
    text-align: center;
}

.subtable {
    width: 70% !important;
}

.tablecss input {
    width: 70% !important;
    height: 40px !important;
    border-radius: 10px;
    margin: 20px;
}