.formcss {
    display: grid;
    place-content: center;
    border: 2px solid black;
    height: auto;
    width: 500px;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
}

.tablecss {

    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;

    width: 50%;
}