 .active  {
    font-weight: 500 !important;
    color: black  !important;
}

.userHeader a {
    /* font-weight: bolder !important; */
    text-decoration: none;
    color: rgb(116, 116, 116) !important;
}

.modal-open {
    padding-right: 0px !important;
}